{% extends "base.html" %}

{% block content %}
    {{ block.super }}
    <div class="row">
    {% for artwork in artwork_list %}
        <div class="col-md-2 col-xs-4">
        <a href="{% url 'artwork-detail' artwork.pk %}"><img src="{{ artwork.image_thumbnail.url }}"
          alt="{{ artwork.title }}"></a>
        <p class="caption"><em>{{ artwork.title }}</em>, {{artwork.work_year }}<br>
        {{ artwork.artist_first_name }} {{artwork.artist_last_name }}</p>
        </div>
    {% endfor %}
    </div>
{% endblock content %}