body { padding: 10px; }
p.caption { font-size: 85%; padding-top: 5px; padding-bottom: 12px; }
h4.title { margin-top: 0; }
h4.header { margin-top: 22px; }
.topright { text-align: right; padding-top: 18px; padding-right: 40px; }
.topright p { margin-bottom: 5px; }
#sponsors { margin-bottom: 40px; }
.sponsors { margin-bottom: 50px; }
.sponsors img { max-width: 290px; }
